<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Address Book</title>
        <link rel='stylesheet' href='~/Content/css/bootstrap.css'>
        <link rel='stylesheet' href='~/Content/css/styles.css'>
    </head>
    <body>
        <div class="container">
            @RenderBody()
        </div>
    </body>
</html>
