@{
  Layout="Shared/_Layout.cshtml";
}

<h2>@Model.GetName()</h2>
<ul>
    <li><span class="contact-info-label">Phone Number:</span> @Model.GetPhoneNumber()</li>
    <li><span class="contact-info-label">Address:</span> @Model.GetAddress()</li>
</ul>

<h3>Contact Successfully Added</h3>

<p><a href="/" class="btn">All Contacts</a></p>
