<h1>Contact Successfully Added</h1>

<h2>@Model.GetName()</h2>
<ul>
    <li><span class="contact-info-label">Phone Number:</span> @Module.GetPhoneNumber()</li>
    <li><span class="contact-info-label">Address:</span> @Module.GetAddress()</li>
</ul>

<p><a href="/">All Contacts</a></p>
