<h1>@Model.GetName()</h1>

<ul>
    <li><span class="contact-info-label">Phone Number:</span> @Model.GetPhoneNumber()</li>
    <li><span class="contact-info-label">Address:</span> @Model.GetAddress()</li>
</ul>

<p><a href="/">Back</a></p>
