/*.container {
border: 2px solid blue;
}*/

body{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-size: 72px;
    text-align: center;
    letter-spacing: 1px;
}

ul.front-page, .front-page li {
    list-style: none;
    padding-left: 0;
    border-top: 1px solid #c6c6c6;
    font-size: 16px;
}

.front-page li {
    /*padding-left: 40px;*/
    border: 1px solid #c6c6c6;
    border-top: 0;
    padding: 15px;
    /*list-style: ;*/
    color: rgb(43, 43, 43);
}

a {
    color: rgb(43, 43, 43);
}

a:hover {
    text-decoration: none;
    color: rgb(43, 43, 43);
}

.front-page li:hover {
    background-color: rgba(227, 250, 249, 0.49);
    font-weight: bold;
}
